html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0C1618;
}

body::-webkit-scrollbar {
    display: none;
}

.pg-title{
    margin: auto;
    width: 25%;
    border-radius: 10px;
    padding: 10px;
    background-color: #004643;
}

.icon{
    float: left;
    width: 30%;
    margin: auto;
}

header {
    background-color: #0C1618;
    padding: 20px;
    text-align: center;
    color: #FAF4D3;
    margin-bottom: 0;
}

nav ul {
    margin: auto;
    width: 70%;
    background-color: #0C1618;
    padding: 0;
    text-align: center;
    color: #FAF4D3;
}

nav ul li {
    width: 10%;
    display: inline-block;
    background-color: #004643;
    margin: 10px;
    padding: 8px;
    text-align: center;
    color: #FAF4D3;
    border-radius: 10px;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: 15px;
    padding-left: 0px;
    text-decoration: none;
    color: #FAF4D3;
    height: 100%;
    width: 100%;
}

nav ul li:hover {
    background-color: #043f3d;
}

nav ul li.active {
    background-color: #004643;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

footer {
    color: #FAF4D3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 35%;
    border-radius: 10px;
    padding: 5px;
    background-color: #004643;
}

main {
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    margin: auto;
    background-color: #004643;
    color: #FAF4D3;
}

section {
    width: 95%;
    margin: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
}

a h4{
    text-align: center;
    color: #FAF4D3;
    text-decoration: none;
}

a{
    color: #FAF4D3;
    text-decoration: none;
}

ul li {
    width: 47%; /* Ensure the two items fit within the container with space in between */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: #337F7B;
    color: #0C1618;
    list-style: none;
    margin: 10px 0;
    padding: 12px;
}

.song-info {
    flex: 1;
    margin-right: 10px;
}

audio {
    flex-shrink: 0;
}

.download-button{
    background-color: #043f3d;
    color: #FAF4D3;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
}

footer a{
    margin: 5px;
    margin-left: 15px;
    padding: 10px;
    background-color: #043f3d;
    border-radius: 10px;
    color: #FAF4D3;
    text-decoration: none;
    display: inline-block;
    width: 15%;
}